html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  color: #580dba;
}

p {
  font-family: "Source Code Pro", monospace;
  color: #232b2b;
}

body {
  background-color: #fffafa;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 50%;
  margin-top: 20px;
}

#img {
  display: flex;
  justify-content: center;
}
